/*------------------------yz_begin--------------------------*/
/**定义全局变量**/
/* start default */
body, ul, li, img, h1, h2, h3, h4, form, dt, dd, dl {
  margin: 0;
  padding: 0; }

ul, li {
  list-style: none; }

img {
  border: 0; }

.cb {
  height: 0;
  overflow: hidden;
  clear: both; }

body {
  font-family: Microsoft YaHei,"STHeiti"; }

.block5 {
  height: 5px;
  overflow: hidden; }

.block10 {
  overflow: hidden;
  height: 10px; }

.block20 {
  overflow: hidden;
  height: 20px; }

/* end default */
/* 内页 */
.in_bg_rp {
  background: url(../images/bg_gif.gif) repeat-x; }
  .in_bg_rp .in_bg {
    background: url(../images/bg.jpg) no-repeat center top; }

.inWrap {
  width: 1340px;
  margin: 0px auto 0;
  overflow: hidden;
  padding: 20px 0 20px 0; }
  .inWrap .inLeft {
    /* 由于左定宽布局的原因，部分浏览器左侧给盖住了，所以要relative调整，又因为需要用左右对齐的margin10000的css，所以ie7必须保持是static的 */
    width: 199px;
    float: left;
    margin-left: -100%;
    position: relative;
    *position: static;
    min-height: 400px;
    background: #ffffff;
    border-radius: 8px 0 0 0; }
    .inWrap .inLeft .subMenu {
      background: url(../images/left_bg.png) no-repeat; }
      .inWrap .inLeft .subMenu h3 {
        font: 30px/40px Microsoft YaHei;
        color: #804e00;
        padding: 50px 24px 24px; }
      .inWrap .inLeft .subMenu > ul {
        padding-top: 1px;
        background: url(../images/submenu_sep.png) no-repeat right top; }
        .inWrap .inLeft .subMenu > ul > li {
          background: url(../images/submenu_sep.png) no-repeat right bottom;
          padding: 6px 7px 8px 9px; }
          .inWrap .inLeft .subMenu > ul > li a {
            display: block;
            padding: 0 24px 0 16px;
            font: 16px/30px Microsoft YaHei;
            color: #7e7e7e;
            text-decoration: none; }
          .inWrap .inLeft .subMenu > ul > li ul {
            display: none; }
        .inWrap .inLeft .subMenu > ul > .selected {
          background: url(../images/submenu_sep.png) no-repeat right bottom;
          padding: 6px 7px 8px 9px; }
          .inWrap .inLeft .subMenu > ul > .selected > a {
            color: #ffffff;
            background: url(../images/submenu_sel_bg.png);
            font-weight: bold; }
          .inWrap .inLeft .subMenu > ul > .selected ul {
            display: block; }
            .inWrap .inLeft .subMenu > ul > .selected ul > li {
              padding: 2px 0px 3px 0px; }
              .inWrap .inLeft .subMenu > ul > .selected ul > li a {
                padding: 0 16px 0 16px;
                font: 14px/30px Microsoft YaHei; }
                .inWrap .inLeft .subMenu > ul > .selected ul > li a:before {
                  content: "- "; }
            .inWrap .inLeft .subMenu > ul > .selected ul > .selected a {
              color: #e78f0a; }
        .inWrap .inLeft .subMenu > ul .open {
          background-color: #fbf9f8; }
  .inWrap .inRight {
    display: none; }
  .inWrap .center {
    width: 100%;
    float: left; }
    .inWrap .center .centerInner {
      margin-left: 209px;
      margin-right: 180px;
      padding: 20px 30px;
      min-height: 600px;
      background: url("../images/center_bg.jpg") no-repeat top right #ffffff; }
      .inWrap .center .centerInner .breadcrumb {
        padding: 0;
        background: url("../images/breadcrumb_bg.png") no-repeat left center transparent;
        text-align: right;
        color: #b2b2b2;
        margin-bottom: 12px;
        font: 14px/20px Microsoft YaHei; }
        .inWrap .center .centerInner .breadcrumb a {
          color: #b2b2b2; }
          .inWrap .center .centerInner .breadcrumb a:first-child {
            background: url("../images/breadcrumb_home_bg.png") no-repeat left center transparent;
            padding-left: 26px; }
      .inWrap .center .centerInner .searchInfo {
        font: 14px/20px Microsoft YaHei;
        text-align: right;
        padding: 4px; }
        .inWrap .center .centerInner .searchInfo span {
          color: #ff0000; }
      .inWrap .center .centerInner .in_title {
        margin-bottom: 18px;
        color: #804e00;
        font: 30px/44px Microsoft YaHei; }
        .inWrap .center .centerInner .in_title span {
          color: #a69f9e;
          font: 12px/18px Microsoft YaHei;
          padding-left: 12px; }
      .inWrap .center .centerInner .in_content {
        min-height: 600px;
        padding-bottom: 20px; }
        .inWrap .center .centerInner .in_content #pageN {
          padding: 30px 0;
          clear: both;
          font: 14px/22px Arial,Simsun; }
          .inWrap .center .centerInner .in_content #pageN a {
            font: 14px/22px Arial,Simsun;
            color: #474848;
            text-decoration: none;
            border-bottom: 1px solid #999; }
          .inWrap .center .centerInner .in_content #pageN .pageInfo {
            float: left; }
          .inWrap .center .centerInner .in_content #pageN .pageNav {
            float: right; }
            .inWrap .center .centerInner .in_content #pageN .pageNav .pageNum span {
              border: 0 !important;
              color: #ed4f01; }
            .inWrap .center .centerInner .in_content #pageN .pageNav .pageInfo2 {
              display: none; }
      .inWrap .center .centerInner .list {
        border-top: 2px solid #f7f3f0; }
        .inWrap .center .centerInner .list ul li {
          border-bottom: 1px dashed #e6e6e6;
          height: 44px;
          overflow: hidden; }
          .inWrap .center .centerInner .list ul li:before {
            content: " ";
            margin: 2px 8px 2px 0;
            background: #f29221;
            border-radius: 10px;
            width: 8px;
            height: 8px;
            display: inline-block; }
          .inWrap .center .centerInner .list ul li a {
            text-decoration: none;
            font: 16px/44px Microsoft YaHei;
            color: #515151; }
            .inWrap .center .centerInner .list ul li a span {
              color: #ff0000; }
          .inWrap .center .centerInner .list ul li .date {
            color: #515151;
            padding-left: 12px;
            float: right;
            font: 14px/44px Microsoft YaHei; }
      .inWrap .center .centerInner .pic_list {
        border-top: 2px solid #f7f3f0;
        padding-top: 20px; }
        .inWrap .center .centerInner .pic_list ul li .pic {
          border: 1px solid #dcdcdc;
          display: block; }
          .inWrap .center .centerInner .pic_list ul li .pic img {
            width: 100%;
            height: auto; }
        .inWrap .center .centerInner .pic_list ul li .text {
          margin-bottom: 30px;
          height: 86px;
          overflow: hidden; }
          .inWrap .center .centerInner .pic_list ul li .text .title {
            display: block;
            text-decoration: none;
            color: #804e00;
            font: 16px/28px Microsoft YaHei;
            max-height: 56px;
            overflow: hidden;
            margin-bottom: 6px; }
          .inWrap .center .centerInner .pic_list ul li .text .desc {
            text-decoration: none;
            color: #666666;
            font: 14px/24px Microsoft YaHei;
            max-height: 24px;
            overflow: hidden;
            display: block; }
      .inWrap .center .centerInner .list_zp table {
        border-top: 2px solid #f8b725;
        border-bottom: 1px solid #b2b2b2; }
        .inWrap .center .centerInner .list_zp table th {
          padding: 12px 0;
          background: #fbf9f8;
          text-align: center;
          border-bottom: 1px solid #f8b725;
          vertical-align: middle; }
          .inWrap .center .centerInner .list_zp table th div {
            padding: 0 12px;
            font: 16px/18px Microsoft YaHei;
            color: #515151;
            border-left: 1px solid #d2d2d2; }
        .inWrap .center .centerInner .list_zp table th:first-child div {
          border-left: none; }
        .inWrap .center .centerInner .list_zp table td {
          padding: 12px;
          border-top: 1px dotted #e6e6e6;
          text-align: center;
          vertical-align: middle;
          font: 16px/24px Microsoft YaHei;
          color: #353535; }
          .inWrap .center .centerInner .list_zp table td a {
            font: 16px/24px Microsoft YaHei;
            color: #353535; }
      .inWrap .center .centerInner .list_rw {
        border-top: 2px solid #f7f3f0; }
        .inWrap .center .centerInner .list_rw ul li {
          min-height: 264px;
          padding: 30px 0;
          position: relative;
          border-bottom: 1px solid #e9e9e9; }
          .inWrap .center .centerInner .list_rw ul li .pic {
            position: absolute;
            left: 0;
            top: 30px;
            width: 160px; }
            .inWrap .center .centerInner .list_rw ul li .pic img {
              border-radius: 14px 0 14px 0px;
              width: 160px;
              height: 204px; }
          .inWrap .center .centerInner .list_rw ul li .intro {
            padding-left: 190px; }
            .inWrap .center .centerInner .list_rw ul li .intro a {
              text-decoration: none; }
            .inWrap .center .centerInner .list_rw ul li .intro .name a {
              color: #804e00;
              font: 22px/40px Microsoft YaHei; }
            .inWrap .center .centerInner .list_rw ul li .intro .position a {
              color: #804e00;
              font: bold 16px/40px Microsoft YaHei; }
            .inWrap .center .centerInner .list_rw ul li .intro .desc {
              max-height: 168px;
              overflow: hidden; }
              .inWrap .center .centerInner .list_rw ul li .intro .desc a {
                color: #353535;
                font: 16px/28px Microsoft YaHei; }
      .inWrap .center .centerInner .search_list {
        border-top: 2px solid #f8b725; }
        .inWrap .center .centerInner .search_list .search_area {
          border-bottom: 1px solid #f8b725;
          margin-bottom: 30px; }
          .inWrap .center .centerInner .search_list .search_area .form-group {
            background: #fbf9f8;
            display: block;
            padding: 8px 12px 0 12px; }
            .inWrap .center .centerInner .search_list .search_area .form-group .form-control {
              margin: 0px 20px 12px 0; }
            .inWrap .center .centerInner .search_list .search_area .form-group .query_input {
              width: 300px; }
            .inWrap .center .centerInner .search_list .search_area .form-group .search_btn {
              float: right; }
          .inWrap .center .centerInner .search_list .search_area .search_info {
            font: 14px/40px Microsoft YaHei;
            padding: 0 20px; }
      .inWrap .center .centerInner .lshg {
        border-top: 2px solid #f7f3f0;
        padding-top: 50px;
        background: url(../images/lshg_bg.jpg) no-repeat; }

/* 超小屏幕（手机，小于 768px） */
@media (max-width: 767px) {
  .inWrap {
    width: 96%; }
    .inWrap .center .centerInner {
      margin-left: 0;
      margin-right: 0;
      padding: 16px; }
      .inWrap .center .centerInner .thirdMenu {
        margin-bottom: 20px; }
        .inWrap .center .centerInner .thirdMenu .dropdown-toggle {
          width: 100%;
          text-align: left;
          border-color: #e78f0a;
          color: #e78f0a; }
          .inWrap .center .centerInner .thirdMenu .dropdown-toggle .caret {
            float: right;
            position: relative;
            top: 8px; }
        .inWrap .center .centerInner .thirdMenu .dropdown-menu {
          width: 100%;
          border-color: #e78f0a; }
          .inWrap .center .centerInner .thirdMenu .dropdown-menu li a {
            color: #e78f0a; }
          .inWrap .center .centerInner .thirdMenu .dropdown-menu .selected a {
            background-color: #e78f0a;
            color: #ffffff; }
      .inWrap .center .centerInner .breadcrumb {
        background: none;
        text-align: left; }
      .inWrap .center .centerInner .in_content {
        min-height: 0; }
        .inWrap .center .centerInner .in_content #pageN {
          padding: 10px 0; }
          .inWrap .center .centerInner .in_content #pageN .pageInfo {
            display: none; }
          .inWrap .center .centerInner .in_content #pageN .pageNav {
            float: none;
            display: block;
            text-align: center;
            padding-top: 10px; }
            .inWrap .center .centerInner .in_content #pageN .pageNav .pageNum {
              display: none; }
            .inWrap .center .centerInner .in_content #pageN .pageNav .pageInfo2 {
              display: block;
              width: 38%;
              float: left;
              padding: 5px 0; }
            .inWrap .center .centerInner .in_content #pageN .pageNav .pagePrev, .inWrap .center .centerInner .in_content #pageN .pageNav .pageNext {
              float: left;
              width: 30%;
              text-align: center;
              background-color: #f2f2f2;
              border: 1px solid #e5e5e5;
              padding: 5px 0;
              border-radius: 3px; }
            .inWrap .center .centerInner .in_content #pageN .pageNav .pageNext {
              float: right; }
      .inWrap .center .centerInner .list ul li {
        padding: 10px 0 10px 0;
        height: auto;
        overflow: visible; }
        .inWrap .center .centerInner .list ul li a {
          display: block;
          font: 16px/24px Microsoft YaHei; }
        .inWrap .center .centerInner .list ul li .date {
          padding-left: 0px;
          float: none;
          font: 14px/24px Microsoft YaHei; }
      .inWrap .center .centerInner .list_zp .table-responsive {
        border-top: none;
        border-bottom: none;
        border-left: 1px solid #b2b2b2;
        border-right: 1px solid #b2b2b2; }
      .inWrap .center .centerInner .list_rw ul li {
        min-height: 213px; }
        .inWrap .center .centerInner .list_rw ul li .pic {
          width: 120px; }
          .inWrap .center .centerInner .list_rw ul li .pic img {
            width: 120px;
            height: 153px; }
        .inWrap .center .centerInner .list_rw ul li .intro {
          padding-left: 140px; }
          .inWrap .center .centerInner .list_rw ul li .intro .name a {
            line-height: 30px; }
          .inWrap .center .centerInner .list_rw ul li .intro .position a {
            line-height: 30px; }
          .inWrap .center .centerInner .list_rw ul li .intro .desc {
            max-height: 140px; }
      .inWrap .center .centerInner .search_list .search_area .form-group {
        padding: 6px;
        text-align: right; }
        .inWrap .center .centerInner .search_list .search_area .form-group .form-control {
          margin: 0px 0px 6px 0; }
        .inWrap .center .centerInner .search_list .search_area .form-group .query_input {
          width: 100%; }
        .inWrap .center .centerInner .search_list .search_area .form-group .search_btn {
          float: none; }
      .inWrap .center .centerInner .lshg {
        background: none; }
    .inWrap .bottomMenu {
      border-top: 1px solid #e78f0a; }
      .inWrap .bottomMenu h3 {
        font: 20px/40px Microsoft YaHei;
        font-weight: 600;
        color: #804e00;
        padding: 15px 24px 5px; }
      .inWrap .bottomMenu > ul {
        padding-top: 1px;
        border-top: 1px solid #e0e0e0; }
        .inWrap .bottomMenu > ul > li {
          border-bottom: 1px solid #e0e0e0;
          padding: 6px 7px 8px 9px; }
          .inWrap .bottomMenu > ul > li a {
            display: block;
            padding: 0 24px 0 16px;
            font: 16px/30px Microsoft YaHei;
            color: #7e7e7e;
            text-decoration: none; }
          .inWrap .bottomMenu > ul > li ul {
            display: none; }
        .inWrap .bottomMenu > ul > .selected > a {
          color: #ffffff;
          background: #e78f0a;
          font-weight: bold;
          border-radius: 6px; }
        .inWrap .bottomMenu > ul > .selected ul {
          display: block; }
          .inWrap .bottomMenu > ul > .selected ul > li {
            padding: 2px 0px 3px 0px; }
            .inWrap .bottomMenu > ul > .selected ul > li a {
              padding: 0 16px 0 16px;
              font: 14px/30px Microsoft YaHei; }
              .inWrap .bottomMenu > ul > .selected ul > li a:before {
                content: "- "; }
          .inWrap .bottomMenu > ul > .selected ul > .selected a {
            color: #e78f0a; }
        .inWrap .bottomMenu > ul .open {
          background-color: #fbf9f8; } }
@media (max-width: 400px) {
  .inWrap .center .centerInner .list_rw ul li {
    min-height: 162px; }
    .inWrap .center .centerInner .list_rw ul li .pic {
      width: 80px; }
      .inWrap .center .centerInner .list_rw ul li .pic img {
        width: 80px;
        height: 102px; }
    .inWrap .center .centerInner .list_rw ul li .intro {
      padding-left: 100px; }
      .inWrap .center .centerInner .list_rw ul li .intro .desc {
        max-height: 140px; } }
/* 小屏幕（平板， 768px 至 991px） */
@media (min-width: 768px) and (max-width: 991px) {
  .inWrap {
    width: 750px; }
    .inWrap .center .centerInner {
      margin-right: 0; }
      .inWrap .center .centerInner .search_list .search_area .form-group .form-control {
        margin-right: 6px; }
      .inWrap .center .centerInner .search_list .search_area .form-group .query_input {
        width: 100%; } }
/* 中等屏幕（桌面显示器，大于等于 992px） */
@media (min-width: 992px) and (max-width: 1339px) {
  .inWrap {
    width: 970px; }
    .inWrap .center .centerInner {
      margin-right: 0; }
      .inWrap .center .centerInner .search_list .search_area .form-group .query_input {
        width: 160px; } }
@media (min-width: 1200px) and (max-width: 1339px) {
  .inWrap {
    width: 1170px; } }
@media (min-width: 1340px) {
  .inWrap .inRight {
    display: block;
    /* 由于左定宽布局的原因，部分浏览器左侧给盖住了，所以要relative调整，又因为需要用左右对齐的margin10000的css，所以ie7必须保持是static的 */
    width: 170px;
    float: left;
    margin-left: -170px;
    position: relative;
    *position: static; }
    .inWrap .inRight .right_box {
      margin-bottom: 20px;
      border: 1px solid #e0e0e0;
      background: #ffffff; }
      .inWrap .inRight .right_box .title {
        padding: 16px 16px 6px; }
        .inWrap .inRight .right_box .title h3 {
          color: #6f4709;
          font: 20px/30px Microsoft YaHei; }
        .inWrap .inRight .right_box .title h4 {
          color: #4f4f4f;
          font: 12px/18px Microsoft YaHei; }
      .inWrap .inRight .right_box .img_link {
        width: 168px;
        height: 168px;
        display: block; } }
/*------------------------yz_end--------------------------*/

/*# sourceMappingURL=inner.css.map */
